apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: demo-pg-app
  namespace: postgres
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: demo-pg-app
    creationPolicy: Owner
    template:
      type: kubernetes.io/basic-auth
      data:
        username: "{{ '{{ .username }}' }}"
        password: "{{ '{{ .password }}' }}"
  data:
    - secretKey: username
      remoteRef:
        key: postgres/app
        property: username
    - secretKey: password
      remoteRef:
        key: postgres/app
        property: password
