apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: registry-htpasswd
  namespace: registry
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: registry-htpasswd
    creationPolicy: Owner
  data:
    - secretKey: htpasswd
      remoteRef:
        key: registry/admin
        property: htpasswd
