[defaults]
inventory = inventory/hosts.yml
host_key_checking = False
stdout_callback = default
result_format = yaml
gathering = smart
fact_caching = jsonfile
fact_caching_connection = .ansible_facts_cache
fact_caching_timeout = 7200
retry_files_enabled = False
forks = 10
interpreter_python = auto_silent

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=30
