# VSCode
.vscode
.classpath
.project
.settings

# User-specific stuff:
.idea/

## File-based project format:
*.iws
*.iml

### Gradle template
.gradle
build/
# Ansible runtime
deploy/ansible/.ansible_facts_cache/
deploy/ansible/**/*.retry
deploy/ansible/bootstrap/ubuntu/dist/
