apiVersion: external-secrets.io/v1beta1
kind: ClusterExternalSecret
metadata:
  name: registry-pull
spec:
  externalSecretName: registry-pull
  namespaceSelector:
    matchLabels:
      registry-pull-needed: "true"
  refreshTime: 1h
  externalSecretSpec:
    refreshInterval: 1h
    secretStoreRef:
      name: vault-backend
      kind: ClusterSecretStore
    target:
      name: registry-pull
      creationPolicy: Owner
      template:
        engineVersion: v2
        type: kubernetes.io/dockerconfigjson
        data:
          .dockerconfigjson: |
            {
              "auths": {
                "{{ registry_host }}": {
                  "username": "{% raw %}{{ .username }}{% endraw %}",
                  "password": "{% raw %}{{ .password }}{% endraw %}",
                  "auth": "{% raw %}{{ printf "%s:%s" .username .password | b64enc }}{% endraw %}"
                },
                "{{ registry_internal_host }}": {
                  "username": "{% raw %}{{ .username }}{% endraw %}",
                  "password": "{% raw %}{{ .password }}{% endraw %}",
                  "auth": "{% raw %}{{ printf "%s:%s" .username .password | b64enc }}{% endraw %}"
                }
              }
            }
    data:
      - secretKey: username
        remoteRef:
          key: registry/admin
          property: username
      - secretKey: password
        remoteRef:
          key: registry/admin
          property: password
