apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: registry-tls
  namespace: registry
spec:
  secretName: registry-tls
  duration: 8760h
  renewBefore: 720h
  privateKey:
    algorithm: ECDSA
    size: 256
    rotationPolicy: Always
  dnsNames:
    - {{ registry_host }}
    - registry.registry.svc
    - registry.registry.svc.cluster.local
  issuerRef:
    name: lab-ca
    kind: ClusterIssuer
    group: cert-manager.io
